<div class="container">
  <div class="col">
    <article class="blog-post">
      <h2 class="blog-post-title"><%= @article.title %></h2>
      <p class="blog-post-meta">Posté le: <%= @article.created_at %></p>
      <p><%= @article.content %></p>
      <hr>
    </article>
  </div>
</div>
