<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#" class="mentions">Mentions Légales</a>
  </div>
  <div class="footer-copyright">
    Créé par <%= link_to "https://github.com/SimonMfroy", target: "_blank" do %> Simon <% end %>&<%= link_to "http://www.nabil-labrazi.com/", target: "_blank" do %> Nabil<% end %>
  </div>
</div>
