<div class="pricing-charts-faqs border-0">
  <div class="container">
    <div class="faq-icon">
      <i class="fas fa-question fa-sm" style="left: 15px !important; top: 12px !important;"></i>
    </div>
    <h3 class="text-center">
      Questions fréquemment posées
    </h3>
    <div class="row">
      <div class="col-md-6 faq">
        <strong>
          Lorem ipsum reprehenderit dolore<br><br>
        </strong>
        <p>
          Id pariatur est incididunt reprehenderit nulla nisi commodo consectetur in dolor tempor tempor commodo ex dolor culpa cillum labore sit.
        </p>
      </div>
      <div class="col-md-6 faq">
        <strong>
          Anim cupidatat non dolor<br><br>
        </strong>
        <p>
          Sint ex aliquip aliqua cupidatat nulla nisi reprehenderit ut duis anim ut do est magna id adipisicing aliquip aliqua qui ad.
        </p>
      </div>
      <div class="col-md-6 faq">
        <strong>
          Reprehenderit dolor anim ut<br><br>
        </strong>
        <p>
          Lorem ipsum officia et sit consectetur in eu mollit aliquip officia esse do nisi nostrud aute dolor est exercitation labore aliqua non dolor enim consequat anim non nulla culpa quis irure aliqua aliquip magna in ut aliqua nostrud consequat sed.
        </p>
      </div>
      <div class="col-md-6 faq">
        <strong>
          Deserunt ea aruvi<br><br>
        </strong>
        <p>
           Lorem ipsum Sint ex aliquip aliqua cupidatat nulla nisi esse do nisi nostrud aute dolor est exercitation labore aliqua non dolor enim consequat anim non nulla culpa quis irure aliqua aliquip tempor tempor commodo sed.
        </p>
      </div>
    </div>
  </div>
</div>


<div class="agency-contact-form mt-5">
  <h3 class="agency-contact-h3 border-0 text-center">Pour toute autre demande</h3>
  <div class="container">
    <form class="simple_form new_message" id="new_message" novalidate="novalidate" action="/fr/contact" accept-charset="UTF-8" method="post">
      <input placeholder="Votre nom" type="text" name="message[name]" id="message_name">
      <input placeholder="Votre email" type="text" name="message[email]" id="message_email">
      <input placeholder="Votre numéro de téléphone" type="text" name="message[phone_number]" id="message_phone_number">
      <textarea placeholder="Votre message" html="{:rows=>6}" name="message[body]" id="message_body"></textarea>

      <input value="contact" type="hidden" name="message[site_location]" id="message_site_location">
      <input type="submit" class="btn btn-flat" name="commit" value="Envoyer" data-disable-with="Envoyer" style="width: 100%;">
    </form>  </div>
  </div>


  <div class="agency-alt-contact-info">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h4 style="color: #518dc3;">
            <i class="fas fa-envelope"></i>
            Email
          </h4>
          <p>
            <a href="mailto:contact@farmsquare.co">contact@farmsquare.co</a>
          </p>
        </div>
        <div class="col-md-4">
          <h4 style="color: #4fc4c5;">
            <i class="fas fa-phone"></i>
            Téléphone
          </h4>
          <p>
            <a href="tel:0707070707">07 07 07 07 07</a>
          </p>
        </div>
        <div class="col-md-4">
          <h4 style="color: #1877f2;">
            <i class="fab fa-facebook-f"></i>
            Facebook
          </h4>
          <p>
            <a href="https://facebook.com/farm-square.co/" target="_blank">@farmsquare.co</a>
          </p>
        </div>
      </div>
    </div>
  </div>
